<div class="container">
    <div class="row justify-content-center">

        <div class="col-4">
            <div class="card">
                <div class="card-title">
                    <h3>Your Cart</h3>
                </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Brand</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="cart && cart.id>0">
                                
                                    <ng-template ngFor let-item [ngForOf]="cart.shoes" let-i="index">
                                        <tr class="table-default">
                                            <td>{{cart.shoes[i].brand}}</td>
                                            <td>{{cart.shoes[i].name}}</td>
                                            <td>{{cart.selectedSizes[i].sizeNum}}</td>
                                            <td>{{cart.shoes[i].price}} $</td>
                                        </tr>
                                    </ng-template>
                                
                                
                            </tbody> 
                        </table>
                        <div *ngIf="!(cart && cart.id >0)">
                            <div class="card-body">
                                <p>Your Cart Is Empty</p>
                
                            </div>
                        </div>
                    </div>
                <div class="card-footer">
                    <h5>Total:{{totalAmount}}$</h5>
                    <button class="btn btn-success" type="button" (click)="buy()">Buy</button>
                </div>
                
            </div>
        </div>
    </div>
</div>