<div class="card mb-4" *ngIf="shoes">
    <div class="card-img-wrapper" >
        <img src="{{shoes.photoUrl}}" alt="{{shoes.brand}}" *ngIf="(accountService.currentUser$ | async)" class="card-img-top"routerLink="/shoes/{{shoes.id}}" >
        <img src="{{shoes.photoUrl}}" alt="{{shoes.brand}}" *ngIf="!(accountService.currentUser$ | async)" class="card-img-top"routerLink="/login" >
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item" *ngIf="admin">
                <button class="btn btn-primary btn-sm" (click)="delete(shoes.id)">
                    <i class="fa fa-trash fa-sm"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            {{shoes.brand}}
            {{shoes.name}}
        </h6>
        <p class="card-text text-muted text-center">
            {{shoes.price}} $
        </p>
    </div>
</div>