<div class="row" *ngIf="shoes">
    <div class="col-2">
        <div class="card">
            <img src="{{shoes.photoUrl || './assets/user.png'}}" alt="{{shoes.name}}" class="card-img-top img-thumbnail">
            <form #f="ngForm" (ngSubmit)="onSubmit()">
                <div  class="card-body">
                    <div>
                        <strong>Name:</strong>
                        <p>{{shoes.brand}} {{shoes.name}}</p>
                    </div>
                    <div>
                        <strong>Price:</strong>
                        <p>{{shoes.price}} $</p>
                    </div>
                    <div>
                        <strong style="padding-left: 3vw;">Sizes</strong>
                                <div class="btn-group" role="group">
                                    <ng-template ngFor let-item="$implicit" [ngForOf]="shoes.sizes">
                                        <input type="radio" name="size" class="btn-check" [(ngModel)]="sizeId" [id]="item.id" [value]="item.id" autocomplete="off"/>
                                        <label class="btn btn-outline-primary" [for]="item.id">{{item.sizeNum}}</label>
                                    </ng-template>
                                </div>  
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-success" type="submit">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <div class="col-6">
        <gallery [items]="images" class="gallery"></gallery>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-title">
                <h3>Your Cart</h3>
            </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-active">
                                <th scope="col">Brand</th>
                                <th scope="col">Name</th>
                                <th scope="col">Size</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="cart && cart.id>0">
                            
                                <ng-template ngFor let-item [ngForOf]="cart.shoes" let-i="index">
                                    <tr class="table-default">
                                        <td>{{cart.shoes[i].brand}}</td>
                                        <td>{{cart.shoes[i].name}}</td>
                                        <td>{{cart.selectedSizes[i].sizeNum}}</td>
                                        <td>{{cart.shoes[i].price}} $</td>
                                    </tr>
                                </ng-template>
                            
                            
                        </tbody> 
                    </table>
                    <div *ngIf="!(cart && cart.id >0)">
                        <div class="card-body">
                            <p>Your Cart Is Empty</p>
            
                        </div>
                    </div>
                </div>
            <div class="card-footer">
                <h5>Total:{{totalAmount}}$</h5>
                <button type="button" class="btn btn-success" (click)="checkout()">Go To Checkout</button>
            </div>
            
        </div>
    </div>
</div>