<div class="row" *ngIf="shoes">
    <div class="col-2">
        <div class="card">
            <img src="{{shoes.photoUrl || './assets/user.png'}}" alt="{{shoes.name}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                    <p>{{shoes.brand}} {{shoes.name}}</p>
                </div>
                <div>
                    <strong>Price:</strong>
                    <p>{{shoes.price}} $</p>
                </div>
                <div>
                    <strong>Size:</strong>
                    <div>
                        <ng-template ngFor let-item="$implicit" [ngForOf]="shoes.sizes">
                            <button type="button" class="btn btn-outline-secondary">{{item.sizeNum}}</button>
                        </ng-template>
                    </div>
                   
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">
                        Like
                    </button>
                    <button class="btn btn-success">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <gallery [items]="images" class="gallery"></gallery>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-title">
                <h3>Cart</h3>
            </div>
            <div class="card-body">
                <p>name</p>

            </div>
            <div class="card-footer">
                <h5>Total:..................135$</h5>
            </div>
        </div>
    </div>
</div>