<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" *ngIf="windowWidth>800">Sneakers</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
            <ng-container  *ngIf="windowWidth>800">
                <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="/gender/men" routerLinkActive="active">Men</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/gender/women" routerLinkActive="active">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/brand/Nike" routerLinkActive="active">Nike</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/brand/adidas" routerLinkActive="active">Adidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/brand/Puma" routerLinkActive="active">Puma</a>
                </li>
            </ng-container>
            <ng-container *ngIf="windowWidth<790">
                <div class="dropdown" dropdown >
                    <a style="text-decoration: none;" class="dropdown-toggle text-light navbar-brand" dropdownToggle>Sneakers</a>
                    <div class="dropdown-menu" *dropdownMenu>
                        <a class="dropdown-item" routerLink="/gender/men">Men</a>
                        <a class="dropdown-item" routerLink="/gender/women">Women</a>
                        <a class="dropdown-item" routerLink="/brand/Nike">Nike</a>
                        <a class="dropdown-item" routerLink="/brand/adidas">Adidas</a>
                        <a class="dropdown-item" routerLink="/brand/Puma">Puma</a>
                    </div>
                </div>
            </ng-container>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="windowWidth<790">
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
            </li>
        </ul>
        <button class="btn btn-primary btn-sm" (click)="goToCheckout()">
            <i class="fa fa-shopping-cart fa-lg">
                <span class="badge badge-light" *ngIf="amount>0">{{amount}}</span>
            </i>
        </button>
        <div class="dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user" >
            <a style="text-decoration: none;" class="dropdown-toggle text-light usernameTitle" dropdownToggle>Welcome {{user.username | titlecase}}!</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" *ngIf="user.isAdmin" routerLink="/add-shoes" routerLinkActive="active">Add Shoes</a>
                <a class="dropdown-item" routerLink="/edit-profile/{{user.id}}" routerLinkActive="active">Edit Profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>    
        </div>
        <div *ngIf="!(accountService.currentUser$ | async) as user">
            <button class="btn btn-success" style="margin-right: 1vw;" routerLink="/registration" routerLinkActive="active">Register</button>
            <button class="btn btn-success" routerLink="/login" routerLinkActive="active">Login</button>
        </div>
    </div>
</nav>
